*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.parent_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    padding: 5px 10%;  
}
.container{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: black;
    border-radius: 20px;
    margin:0px 50px;
    height: 300px;
    box-shadow: 0 3px 1 px 1px hsla(0, 0%, 0%, 0.5);
}
.container::after{
    content: ""; 
    position: absolute;
    border-radius: 20px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.95) 0%, rgba(0, 0, 0, 0.6) 100%);
}
.left{
    padding: 50px;
    width: 100vw;
    color: white;
    z-index: 10;
    font-family: inter;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 7%;
}
.right{
    width: 100vw;
    color: white;
    font-family: Inter;
    z-index: 10;
}
.localisation{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 10px 15px;
    width: 100%;
}
.cityInformation{
    padding: 0px 10px;
}
.lieu{
    padding: 0px;
}
.degree{
    padding: 0px 7px;
    font-size: 70px;
    font-weight: bold;
}
.weather_type{
    padding: 20px 12px;
    font-weight: bold;
}

.weahter_information{
    width: 100%;
    background-color: yellow;
}
.details{
    text-align: end;
    line-height: 50px;
    margin: 0 30% 0 0;
}
span{
    font-weight: 900;
    font-size: 1.2rem;
}

.localIndication{
    font-size: smaller;
    font-weight: bold;
    color: #ffffff;
}