*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*Niveau*/
.noresult-container{
    padding: 30px 0;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}


/*Niveau 2*/
.noresult-illustration-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.noresult-container button{
    padding: 10px 30px;
    border: 2px solid #FF4500;
    border-radius: 50px;
    color: #FF4500;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
    transition: .2s;
}
.noresult-container button:hover{
    background-color: #FF4500;
    color: white;
}