*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.todayDetails_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding: 30px 10%;
}